echo "*.o" >> .gitignore
echo "*.out" >> .gitignore
echo "*.exe" >> .gitignore
echo "*.a" >> .gitignore
echo "*.so" >> .gitignore
echo "*.class" >> .gitignore
echo "*.jar" >> .gitignore
echo "*.o" >> .gitignore
echo "*.obj" >> .gitignore
